*{
    margin: 0;
    padding: 0;
    
}


.full{
    width: 100%;
    height: 100%;
}

.container-center{
    max-width: 1110px;
    margin: 0 auto;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    padding-top: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo img{
    width: 100%;
    height: 100%;
}
.nav-page-desktop{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    
}

.nav-page-desktop nav a{
    text-decoration: none;
    color: #000;
}
.nav-page-desktop nav::after {
    content: '';
    display: block;
    width: 0%; 
    height: 2px;
    background-color: red;
    animation: underline-out 0.2s ease-in-out ;
}

.nav-page-desktop nav:hover::after {
    animation: underline-in 0.2s ease-in-out forwards;
}

@keyframes underline-in {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes underline-out {
    from { width: 100%; }
    to { width: 0%; }
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr, auto, 300px);
    gap: 30px;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

#nav-page-mobile {
    width: 150px;
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 9999;
    background-color: #000;
}

.content-1{
    display: block;
    grid-column: 1/span 2;
    grid-row: 1 ;
}
.content-1-mobile{
    display: none;
    grid-column: 1;
    grid-row: 1 ;
}
.content-2{
    grid-column: 1;
    grid-row: 2;
}
.content-2 h1{
    font-size: 55px;
    font-weight: 900px;
    line-height: 1;
}

.content-3{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-3 p{
    font-size: 15px;
    color: #6c6c6c;
    line-height: 1.7;
    
}
.content-3 button {
    border: none;
    padding: 15px 35px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2.5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    
    background: linear-gradient(to right, #ff1601 50%, #000 50%);
    background-size: 200% 100%; 
    background-position: left bottom; 
    
    transition: all 0.5s ease-out; 
}

.content-3 button:hover {
    background-position: right bottom; 
    color: #ff1601;
}

.content-4{
    grid-column: 3;
    grid-row: 1 / span 2;

    background-color: #000;
    padding: 30px 20px;
}

.content-4 h2{
    color: hsl(35, 77%, 62%);
    font-size: 40px;
}
.content-4-big-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    justify-content: space-between;
}
.content-4-big-box hr{
    border: 0.5px solid #333;
}
.content-4-box{
    color: #fff;
}
.content-4-box h5{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.content-4-box p{
    font-size: 15px;
    color: #b3b3b3;
    line-height: 1.7;
}
.mini-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mini-content h2{
    font-size: 25px;
    color: hsl(8, 96%, 64%);
    font-weight: 700;
}
.mini-content h3{
    font-size: 18px;
    color: hsl(0, 0%, 0%);
    font-weight: 900;
}
.mini-content p{
    font-size: 15px;
    color: hsl(0, 0%, 0%);
    font-weight: 300;
}

.sec3{
    height: 120px;
    display: flex;
    gap: 10px;
    line-height: 1.7;
}
.sec3 img{
    height: 100%;

}
.content-5{
    grid-column: 1;
    grid-row: 3;
}
.content-6{
    grid-column: 2;
    grid-row: 3;
}
.content-7{
    grid-column: 3;
    grid-row: 3;
}






@media (max-width: 450px) {
    
    .container-center{
        max-width: 410px;
        margin: 0 auto;
    }
    body{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #000;
        background-color: #ffffff;
        padding-top: 50px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    main{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }
    .nav-page-desktop{
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        display: none;
    }

    .nav-page-desktop nav a{
        text-decoration: none;
        color: #000;
    }
    .nav-page-desktop nav::after {
        content: '';
        display: block;
        width: 0%; 
        height: 1px;
        background-color: red;
        animation: underline-out 0.2s ease-in-out ;
    }

    .nav-page-desktop nav:hover::after {
        animation: underline-in 0.2s ease-in-out forwards;
    }

    @keyframes underline-in {
        from { width: 0%; }
        to { width: 100%; }
    }

    @keyframes underline-out {
        from { width: 100%; }
        to { width: 0%; }
    }

    .burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
        }

        .burger input {
        display: none;
        }

        .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        }

        .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
        }

        .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
        }

        .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
        }

        .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
        }

        .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
        }

        .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
        }

        /* Trạng thái ẩn ban đầu */
        #nav-page-mobile {
            width: 150px;
            display: none;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            right: 0;
            top: 60px;
            z-index: 9999;
            background-color: #000;
            padding: 40px;
        }
        #nav-page-mobile li a{
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
        
        /* Trạng thái khi mở - Dùng ID kết hợp Class để tăng độ ưu tiên */
        #nav-page-mobile.active {
            display: flex;
        }



    .grid-layout{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr, auto, 300px);
        gap: 30px;
    }


    .content-1{
        display: none;
        grid-column: 1;
        grid-row: 1 ;
    }
    .content-1-mobile{
        display: block;
        grid-column: 1;
        grid-row: 1 ;
    }
    .content-2{
        grid-column: 1;
        grid-row: 2;
    }
    .content-2 h1{
        font-size: 55px;
        font-weight: 900px;
        line-height: 1;
    }

    .content-3{
        grid-column: 1;
        grid-row: 3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content-3 p{
        font-size: 15px;
        color: #6c6c6c;
        line-height: 1.7;
        
    }
    .content-3 button {
        border: none;
        margin-top: 20px;
        padding: 15px 30px;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2.5px;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        
        background: linear-gradient(to right, #ff1601 50%, #000 50%);
        background-size: 200% 100%; 
        background-position: left bottom; 
        
        transition: all 0.5s ease-out; 
    }

    .content-3 button:hover {
        background-position: right bottom; 
        color: #ff1601;
    }

    .content-4{
        grid-column: 1;
        grid-row: 4;

        background-color: #000;
        padding: 30px 20px;
    }

    .content-4 h2{
        color: hsl(35, 77%, 62%);
        font-size: 30px;
    }
    .content-4-big-box{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
        justify-content: space-between;
    }
    .content-4-big-box hr{
        border: 0.5px solid #333;
    }
    .content-4-box{
        color: #fff;
    }
    .content-4-box h5{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .content-4-box p{
        font-size: 14px;
        color: #b3b3b3;
        line-height: 1.7;
    }
    .mini-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mini-content h2{
        font-size: 25px;
        color: hsl(8, 96%, 64%);
        font-weight: 700;
    }
    .mini-content h3{
        font-size: 16px;
        color: hsl(0, 0%, 0%);
        font-weight: 900;
    }
    .mini-content p{
        font-size: 14px;
        color: hsl(0, 0%, 0%);
        font-weight: 300;
    }

    .sec3{
        height: 120px;
        display: flex;
        gap: 10px;
        line-height: 1.7;
    }
    .sec3 img{
        height: 100%;

    }
    .content-5{
        grid-column: 1;
        grid-row: 5;
    }
    .content-6{
        grid-column: 1;
        grid-row: 6;
    }
    .content-7{
        grid-column: 1;
        grid-row: 7;
    }

}